{% extends "base.html" %}

{% block content %}
<section class="container">
	<article>
		<header>
			<h1>{{ title }}</h1>
		</header>
		<form method="post" action="" name="changePassword">
			{{ form.hidden_tag() }}
			{% if title ==  _("Change Password") %}
			<div class="form-group row">
				<div class="col-md-4">
				<label class="label-control">{{ _('Old Password') }}</label>
				{{ form.old_password(class="form-control") }}
				</div>
			</div>
			{% endif %}
			<div class="form-group row">
				<div class="col-md-4">
				<label class="label-control">{{ _('New Password') }}</label>
				{{ form.new_password(class="form-control") }}
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-4">
				<label class="label-control">{{ _('Repeat New Password') }}</label>
				{{ form.new_password_2(class="form-control") }}
				</div>
			</div>
			<div class="form-group">
				<input type="submit" value={{ _("Submit") }} class="btn btn-primary">
			</div>
		</form>
	</article>
</section>
{% endblock %}