{% extends 'base.html' %}

{% block content %}
<div class="container">
<aside class="col-md-12">
	<ol class="breadcrumb">
	  <li><a href={{ url_for('index') }}>{{ _('Home') }}</a></li>
	  <li class="active">{{ _('Users') }}</li>
	</ol>
	<nav>
		<ul class="nav nav-pills">
			<li class="active"><a href={{ url_for('register_user') }}>{{ _('Add new') }}</a></li>		
		</ul>
	</nav>
</aside>

<section class="col-md-12">
	<header>
		<h1>{{ _('All Users') }}</h1>
		<h3>{{ _('Check and manage your users') }}</h3>
	</header>
	{% if users %}
	<table class="table">
		<thead>
			<tr>
				<th>{{ _('Name') }}</th>
				<th>{{ _('Role') }}</th>
				<th>{{ _('Actions') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
			<tr>
				<td>{{ user.name }}</td>
				<td>{{ user.role }}</td>
				<td>
					<a href={{ url_for('show_user', id=user.id) }}><i class="glyphicon glyphicon-eye-open"></i></a>
					<a href={{ url_for('edit_user', id=user.id) }}><i class="glyphicon glyphicon-pencil"></i></a>
					<a href={{ url_for('delete_user', id=user.id) }}><i class="glyphicon glyphicon-trash"></i></a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<nav>
	  <ul class="pagination">
	  	{% if pagination.has_prev %}
	    <li>
	      <a href={{ url_for('show_users', page=pagination.prev_num) }} aria-label={{ _("Previous") }}>
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    {% endif %}
	    {% for page in pagination.iter_pages() %}
			{% if page != pagination.page %}
    			<li><a href={{ url_for('show_users', page=page) }}>{{ page }}</a></li>
    		{% else %}
    			<li class="active"><a>{{ page }}</a></li>
    		{% endif %}
    	{% endfor %}
    	{% if pagination.has_next %}
	    <li>
	      <a href={{ url_for('show_users', page=pagination.next_num) }} aria-label={{ _("Next") }}>
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	    {% endif %}
	  </ul>
	</nav>
	{% else %}
	<div class="well well-lg">{{ _('No user here! :(') }}</div>
	{% endif %}
</section>
</div>
{% endblock %}