{% extends 'base.html' %}

{% block content %}
<section class="container">
	<article class="col-xs-12">
		<header>
			<ol class="breadcrumb">
			  <li><a href={{ url_for('index') }}>{{ _('Home') }}</a></li>
			  <li><a href={{ url_for('show_users') }}>{{ _('Users') }}</a></li>
			  <li class="active">{{ _('User') }}</li>
			</ol>
			<h1>{{ title }}</h1>
			<h3>{{ _("Your user's profile") }}</h3>
			<ul class="nav nav-tabs nav-justified" data-tabs="tabs">
			  <li class="active"><a href="#panel1" data-toggle="tab">{{ _('User Info') }}</a></li>
			  <li><a href="#panel2" data-toggle="tab">{{ _('Company Info') }}</a></li>
			  <li><a href="#panel3" data-toggle="tab">{{ _('Contact Info') }}</a></li>
			</ul>
		</header>
		<div class="tab-content">
			<div class="tab-pane fade in active col-sm-8 col-xs-12" id="panel1">
				<h4>{{ _('User Info') }}</h4>
				<b>{{ _('Name') }}:</b> {{ user.name }} <br>
				<b>{{ _('E-mail') }}:</b> {{ user.email }} <br>
				<b>{{ _('Role') }}:</b> {{ user.role }}
			</div>
			<div class="tab-pane fade" id="panel2">
				<h4>{{ _('Company Info') }}</h4>
				<b>{{ _('Company Name') }}:</b> {{ user.company_name }} <br>
				<b>{{ _('Trade Name') }}:</b> {{ user.trade_name }} <br>
				<b>{{ _('Company Federal ID') }}:</b> {{ user.company_federal_id }} <br>
				<b>{{ _('Company State ID') }}:</b> {{ user.company_state_id }}
			</div>
			<div class="tab-pane fade" id="panel3">
				<h4>{{ _('Contact Info') }}</h4>
				<b>{{ _('Address') }}:</b> {{ user.address }}, {{user.number}} <br>
				<b>{{ _('Complement') }}:</b> {{ user.complement }} <br>
				<b>{{ _('Zip Code') }}:</b> {{ user.zip_code }} <br>
				<b>{{ _('City') }}:</b> {{ user.city }} <br>
				<b>{{ _('State') }}:</b> {{ user.state }} <br>
				<b>{{ _('Country') }}:</b> {{ user.country }} <br>
				<b>{{ _('Phone') }}:</b> {{ user.phone }}
				<b>{{ _('Celphone') }}:</b> {{ user.celphone }}
			</div>
		</div>
	</article>
</section>
{% endblock %}
