{% extends 'base.html' %}

{% block content %}
<div class="container">
<aside class="col-md-12">
	<ol class="breadcrumb">
	  <li><a href={{ url_for('index') }}>Home</a></li>
	  <li class="active">Tickets</li>
	</ol>
	<nav>
		<ul class="nav nav-pills">
			<li class="active"><a href={{ url_for('new_ticket') }}>Add new</a></li>		
		</ul>
	</nav>
</aside>

<section class="col-md-12">
	<header>
		<h1>All Tickets</h1>
		<h3>Check and manage your tickets</h3>
	</header>
	{% if tickets %}
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Priority</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for ticket in tickets %}
			<tr>
				<td>{{ ticket.title }}</td>
				<td>
					{% if ticket.priority == 'high' %}
						<span class="label label-danger">
					{% elif ticket.priority == 'low' %}
						<span class="label label-info">
					{% else %}
						<span class="label label-default">
					{% endif %}
					{{ ticket.priority|capitalize }}
					</span>
				</td>
				<td>
					{% if ticket.status == 'open' %}
						<span class="label label-primary">
					{% elif ticket.status == 'on hold' %}
						<span class="label label-warning">
					{% else %}
						<span class="label label-success">
					{% endif %}
					{{ ticket.status|capitalize }}					
					</span>
				</td>
				<td>
					{% if ((ticket.pause_time and ticket.pause_time > ticket.play_time) or not ticket.start_time) and not ticket.status == 'closed' %}
					<a href={{ url_for('start_ticket', id=ticket.id) }}><i class="glyphicon glyphicon-play"></i></a>
					{% elif ((ticket.play_time and not ticket.pause_time) or (ticket.play_time > ticket.pause_time)) and not ticket.status == 'closed' %}
					<a href={{ url_for('pause_ticket', id=ticket.id) }}><i class="glyphicon glyphicon-pause"></i></a>
					{% endif %}
					{% if ticket.status == 'on hold' %}
					<a href={{ url_for('stop_ticket', id=ticket.id) }}><i class="glyphicon glyphicon-stop"></i></a>
					{% endif %}
					<a href={{ url_for('ticket_info', id=ticket.id) }}><i class="glyphicon glyphicon-eye-open"></i></a>
					<a href={{ url_for('edit_ticket', id=ticket.id) }}><i class="glyphicon glyphicon-pencil"></i></a>
					<a href={{ url_for('delete_ticket', id=ticket.id) }}><i class="glyphicon glyphicon-trash"></i></a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<nav>
	  <ul class="pagination">
	  	{% if pagination.has_prev %}
	    <li>
	      <a href={{ url_for('show_tickets', page=pagination.prev_num) }} aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    {% endif %}
	    {% for page in pagination.iter_pages() %}
			{% if page != pagination.page %}
    			<li><a href={{ url_for('show_tickets', page=page) }}>{{ page }}</a></li>
    		{% else %}
    			<li class="active"><a>{{ page }}</a></li>
    		{% endif %}
    	{% endfor %}
    	{% if pagination.has_next %}
	    <li>
	      <a href={{ url_for('show_tickets', page=pagination.next_num) }} aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	    {% endif %}
	  </ul>
	</nav>
	{% else %}
	<div class="well well-lg">Yay! You have no tickets!</div>
	{% endif %}
</section>
</div>
{% endblock %}