{% extends 'base.html' %}

{% block content %}
<div class="container">
<aside class="col-md-12">
	<ol class="breadcrumb">
	  <li><a href={{ url_for('index') }}>{{ _('Home') }}</a></li>
	  <li class="active">{{ _('Contracts') }}</li>
	</ol>
	<nav>
		<ul class="nav nav-pills">
			<li class="active"><a href={{ url_for('new_contract') }}>{{ _('Add new') }}</a></li>
		</ul>
	</nav>
</aside>

<section class="col-md-12">
	<header>
		<h1>{{ _('All Contracts') }}</h1>
		<h3>{{ _('Check and manage your contracts') }}</h3>
	</header>
	{% if contracts %}
	<table class="table">
		<thead>
			<tr>
				<th>{{ _('Client') }}</th>
				<th>{{ _('Price/hour') }}</th>
				<th>{{ _('Hours/period') }}</th>
				<th>{{ _('Used Hours') }}</th>
				<th>{{ _('Available Hours') }}</th>
				<th>{{ _('Actions') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for contract in contracts %}
			<tr>
				<td>{{ contract.client.name }}</td>
				<td>{{ contract.price_hour }}</td>
				<td>{{ contract.total_hours }}</td>
				<td>{{ contract.used_hours }}</td>
				<td>{{ contract.available_hours }}</td>
				<td>
					<a href={{ url_for('edit_contract', id=contract.id) }}><i class="glyphicon glyphicon-pencil"></i></a>
					<a href={{ url_for('delete_contract', id=contract.id) }}><i class="glyphicon glyphicon-trash"></i></a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<nav>
	  <ul class="pagination">
	  	{% if pagination.has_prev %}
	    <li>
	      <a href={{ url_for('show_contracts', page=pagination.prev_num) }} aria-label={{ _("Previous") }}>
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    {% endif %}
	    {% for page in pagination.iter_pages() %}
			{% if page != pagination.page %}
    			<li><a href={{ url_for('show_contracts', page=page) }}>{{ page }}</a></li>
    		{% else %}
    			<li class="active"><a>{{ page }}</a></li>
    		{% endif %}
    	{% endfor %}
    	{% if pagination.has_next %}
	    <li>
	      <a href={{ url_for('show_contracts', page=pagination.next_num) }} aria-label={{ _("Next") }}>
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	    {% endif %}
	  </ul>
	</nav>
	{% else %}
	<div class="well well-lg">{{ _('Ops! No contracts yet :(') }}</div>
	{% endif %}
</section>
</div>
{% endblock %}