{% extends 'base.html' %}

{% block content %}
<div class="container">
<aside class="col-xs-12">
	<ol class="breadcrumb">
	  <li><a href={{ url_for('index') }}>{{ _('Home') }}</a></li>
	  <li><a href={{ url_for('show_contracts') }}>{{ _('Contracts') }}</a></li>
	  <li class="active">{{title}}</li>
	</ol>
</aside>
<article class="col-xs-12">
	<header>
		<h1>{{ title }}</h1>
		<h3>{{ _('New register for your contracts list') }}</h3>
	</header>
	{% if action == "new_contract" %}
	<form action={{ url_for(action) }} method="post" name="newContract">
	{% else %}
	<form action={{ url_for(action, id=id) }} method="post" name="editContract">
	{% endif %}
		{{ form.hidden_tag() }}
		{% if form.price_hour.errors %}
		<div class="form-group has-error col-sm-3 col-xs-12">
		{% else %}
		<div class="form-group col-sm-3 col-xs-12">
		{% endif %}
			<label class="control-label">{{ _('Price/Hour') }}</label>
			{{ form.price_hour(class='form-control', placeholder=50.0) }}
			{% for error in form.price_hour.errors %}
				<small class="help-block">{{ error }}</small>
			{% endfor %}
		</div>
		{% if form.total_hours.errors %}
		<div class="form-group has-error col-sm-3 col-xs-12">
		{% else %}
		<div class="form-group col-sm-3 col-xs-12">
		{% endif %}
			<label class="control-label">{{ _('Total Hours per Period') }}</label>
			{{ form.total_hours(class='form-control', placeholder=6) }}
			{% for error in form.total_hours.errors %}
				<small class="help-block">{{ error }}</small>
			{% endfor %}
		</div>
		{% if form.client.errors %}
		<div class="form-group has-error col-sm-6 col-xs-12">
		{% else %}
		<div class="form-group col-sm-6 col-xs-12">
		{% endif %}
			<label class="control-label">{{ _('Client') }}</label>
			{{ form.client(class='form-control') }}
			{% for error in form.client.errors %}
				<small class="help-block">{{ error }}</small>
			{% endfor %}
		</div>
		<div class="form-group col-xs-12">
			<input type="submit" value={{ _("Submit") }} class="btn btn-primary">
		</div>
	</form>
</article>
</div>
{% endblock %}
