{% extends 'base.html' %}

{% block content %}
<div class="container">
<aside class="col-xs-12">
	<ol class="breadcrumb">
	  <li><a href={{ url_for('index') }}>{{ _('Home') }}</a></li>
	  <li class="active">{{ _('Clients') }}</li>
	</ol>
	<nav>
		<ul class="nav nav-pills">
			<li class="active"><a href={{ url_for('register_client') }}>{{ _('Add new') }}</a></li>
		</ul>
	</nav>
</aside>

<section class="col-xs-12">
	<header>
		<h1>{{ _('All Clients') }}</h1>
		<h3>{{ _('Check and manage your clients') }}</h3>
	</header>
	{% if clients %}
	<table class="table">
		<thead>
			<tr>
				<th>{{ _('Name') }}</th>
				<th>{{ _('Company') }}</th>
				<th>{{ _('Actions') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for client in clients %}
			<tr>
				<td>{{ client.name }}</td>
				<td>{{ client.company_name }}</td>
				<td>
					<a href={{ url_for('show_client', id=client.id) }}><i class="glyphicon glyphicon-eye-open"></i></a>
					<a href={{ url_for('edit_client', id=client.id) }}><i class="glyphicon glyphicon-pencil"></i></a>
					<a href={{ url_for('delete_client', id=client.id) }}><i class="glyphicon glyphicon-trash"></i></a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<nav>
	  <ul class="pagination">
	  	{% if pagination.has_prev %}
	    <li>
	      <a href={{ url_for('show_clients', page=pagination.prev_num) }} aria-label="{{ _('Previous') }}">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    {% endif %}
	    {% for page in pagination.iter_pages() %}
			{% if page != pagination.page %}
    			<li><a href={{ url_for('show_clients', page=page) }}>{{ page }}</a></li>
    		{% else %}
    			<li class="active"><a>{{ page }}</a></li>
    		{% endif %}
    	{% endfor %}
    	{% if pagination.has_next %}
	    <li>
	      <a href={{ url_for('show_clients', page=pagination.next_num) }} aria-label="{{ _('Next') }}">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	    {% endif %}
	  </ul>
	</nav>
	{% else %}
	<div class="well well-lg">{{ _('Ops! No clients yet :(') }}</div>
	{% endif %}
</section>
</div>
{% endblock %}
