<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<title>TaskTime</title>
		<!-- <link rel="shortcut icon" href="icon.ico" /> -->
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }} />
    	<script src={{ url_for('static', filename='js/jquery-2.1.3.min.js') }}></script>
    	<script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
    	{% block head %}
    	{% endblock %}
	</head>

	<body>
    	<header>
    		<nav class="navbar navbar-inverse"> 
    			<div class="container-fluid">
				    <!-- Brand and toggle get grouped for better mobile display -->
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				      </button>
				      <a class="navbar-brand" href={{ url_for('index') }}>TaskTime</a>
				    </div>
				    
				    <!-- Collect the nav links, forms, and other content for toggling -->
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav">
				      {% if not current_user.is_anonymous() 
				      and (current_user.get_category() == 'admin' or 
				      current_user.get_category() == 'employee') %}
				      <li>
				      	<a href={{ url_for('show_clients') }}>
							<i class="glyphicon glyphicon-user"></i>
							<label>Clients</label>
						</a>
				      </li>
				      {% endif %}
				      {% if not current_user.is_anonymous() 
				      and current_user.get_category() == 'admin' %}
				      <li>
						<a href={{ url_for('show_users') }}>
							<i class="glyphicon glyphicon-briefcase"></i>
							<label>Team</label>
						</a>
				      </li>
				      <li>
						<a href={{ url_for('show_contracts') }}>
							<i class="glyphicon glyphicon-folder-open"></i>
							<label>Contracts</label>
						</a>
				      </li>
				      {% endif %}
				      {% if not current_user.is_anonymous() %}
				      <li>
						<a href={{ url_for('show_tickets') }}>
							<i class="glyphicon glyphicon-bullhorn"></i>
							<label>Tickets</label>
						</a>
				      </li>
				      {% endif %}
				      <li>
						<a href={{ url_for('show_articles') }}>
					    	<i class="glyphicon glyphicon-book"></i>
					    	<label>Library</label>
						</a>
				      </li>
				      {% if not current_user.is_anonymous() 
				      and current_user.get_category() == 'admin' %}
				      <li>
						<a >
							<i class="glyphicon glyphicon-stats"></i>
							<label>Reports</label>
						</a>
				      </li>
				      {% endif %}
				      </ul>

				      <ul class="nav navbar-nav navbar-right">
				      	{% if not current_user.is_anonymous() %}
				        <li><a>Hello, {{ current_user.name.split(" ")[0] }}!</a></li>
				        {% endif %}
				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">User <span class="caret"></span></a>
				          <ul class="dropdown-menu" role="menu">
				          	{% if current_user.is_anonymous() %}
				            <li><a href={{ url_for('login') }}>Login</a></li>
				           	{% else %}
				            <li><a href={{ url_for('profile', id=current_user.id) }}>Profile</a></li>
				            <li><a href={{ url_for('change_password', 
				            						category=current_user.get_category(),
				            						id=current_user.id) }}>Change Password</a></li>
				            <li class="divider"></li>
				            <li><a href={{ url_for('logout') }}>Logout</a></li>
				            {% endif %}
				          </ul>
				        </li>
				      </ul>
				    </div>
				</div>
			</nav>
    	</header>
    	<section class="container">
    			{% with messages = get_flashed_messages(with_categories=True) %}
				{% if messages %}
					{% for category, message in messages %}
					<div class="alert alert-{{category}} alert-dismissible fade in col-md-offset-8" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  {{ message }}
					</div>
					{% endfor %}
				{% endif %}
				{% endwith %}
    		{% block content %}
    		{% endblock %}
    	</section>
	</body>
</html>