{% extends "base.html" %}

{% block content %}
<article class="container">
	<header>
		<h1>{{ _('Welcome to TaskTime!') }}</h1>
		<h3>{{ _('Follow this steps to set your TaskTime app and get ready to work.') }}</h3>
	</header>
	<div class="row">
		<div class="col-md-4 col-xs-12">
			<article class="panel panel-danger">
				<div class="panel-heading">
					<header>
						<h3 class="panel-title">{{ _('Step 1: Data') }}</h3>
					</header>
				</div>
				<div class="panel-body">
					{{ _('Register at least one of each:') }}
					<ul>
						<li>{{ _('Client') }}</li>
						<li>{{ _('Contract') }}</li>
					</ul>
					{{ _('And configure your e-mail settings!') }}
				</div>
			</article>
		</div>
		<div class="col-md-4 col-xs-12">
			<article class="panel panel-warning">
				<div class="panel-heading">
					<header>
						<h3 class="panel-title">{{ _('Step 2: Work') }}</h3>
					</header>
				</div>
				<div class="panel-body">
					<ul>
						<li>{{ _('Start a ticket') }}</li>
						<li>{{ _('Finish a ticket') }}</li>
						<li>{{ _('See reports') }}</li>
					</ul>
				</div>
			</article>
		</div>
		<div class="col-md-4 col-xs-12">
			<article class="panel panel-success">
				<div class="panel-heading">
					<header>
						<h3 class="panel-title">{{ _('Step 3: Optionals') }}</h3>
					</header>
				</div>
				<div class="panel-body">
					<ul>
						<li>{{ _('Create articles in the library <small>so your clients can resolve their own problem before open a ticket</small>') }}</li>
						<li>{{ _('Add members to your team') }}</li>
						<li>{{ _('Configure custom settings') }}</li>
					</ul>
				</div>
			</article>
		</div>
	</div>
</article>
{% endblock %}
